.rule-wrap {
    padding:25px 15px;
}

.rule-text {
    font-size:14px;
    color:black;
    line-height:19px;
    display: -webkit-box
}

.rule-num {
    display: block;
}

.rule-content {
    display: block;
    -webkit-box-flex:1;
}