//这里的变量名对应UI的标注名字，但都是小写
//font-size:
$xlarge: 24px;
$mlarge: 22px;
$title: 18px;
$list: 16px;
$info: 14px;
$hint: 12px;
$small: 10px;
$xsmall: 9px;

//font-color:
$primary: #333;
$secondary: #666;
$chint: #999;
$disable: #ccc;
$white: #fff;
$green: #23beae;
$orange: #ff5346;
$link: #00a0ff;
$null: #c0c5d0;
$tipswarning: #9a7126;

//background-color
$actionbarbg: #fff;
$expanderbg: #f6f8fb;
$maskbg: #780000;
$bottombg: #edf0f5;
$click: #eee;
$prompt: #9ec7f9;
$filterbg: #0b3c39;
$selectgreen: #eafffd;
$deeporange: #d9453b;
$secondbg: #f2f5fa;
$detalicon: #82cfd8;
$line: #e4e4e4;